@model List<AppUser>;

@{
    ViewData["Title"] = "All users";
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        @foreach(var user in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@user.FullName</h5>
                        <p class="card-text">This user has created @user.Urls.Count link(s) and has a total of @user.Urls.Sum(n => n.NumOfClicks) click(s).</p>
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                Show details
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Original Link</th>
                                            <th scope="col">Short Link</th>
                                            <th scope="col">Number of clicks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var userUrl in @user.Urls)
                                        {
                                            <tr>
                                                <th scope="row">@userUrl.Id</th>
                                                <td>@userUrl.OriginalLink</td>
                                                <td>@userUrl.ShortLink</td>
                                                <td>@userUrl.NumOfClicks</td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <small class="text-muted">@user.Urls.Count link(s), @user.Urls.Sum(n => n.NumOfClicks) click(s)</small>
                    </div>
                </div>
            </div>
        }
        

    </div>
</div>